## Pandas

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('D:\DataSci\Resources\\recipes.csv')

In [ ]:
print(data.head())

We can create a dataframe from a dictionary where keys assume the value of column headers and keys as column values

In [5]:
student_details = {"Name": ["A","B","C"], "Age": [19,37,18]}
student_df = pd.DataFrame(student_details)
print(student_df)

  Name  Age
0    A   19
1    B   37
2    C   18

we can extract a part of a big dataframe by just typing the name of the dataframe and the required columns in a square bracket [] and assigning it to some variable. example

In [8]:
small_recipe = data[["country","egg"]]
print(small_recipe.head())

      country egg
0  Vietnamese  No
1  Vietnamese  No
2  Vietnamese  No
3  Vietnamese  No
4  Vietnamese  No

using the **iloc** function we can access specified cell(s) of the dataframe. we need to specify the indices to work with iloc. Let us try to get the info of the 100-110th recipe in the table

In [ ]:
df_2 = data.iloc[100:110:,::]
print(df_2)

Similarly we can make use of the **loc** function to access cells by specifying column names and row index

In [ ]:
df_3 = data.loc[:,['country','egg']]
print(df_3.head())

In [ ]:
df_4 = data.loc[(data.country=="Japan") & (data.egg=='Yes')] # this logical operation of == or != etc on a dataframe (column) 
print(df_4[['country','egg']].head()) #returns a column of bool inputs (True,False,True,True..etc) so putting them in loc fetches just the desired values

explorting the **unique** function of pandas

In [ ]:
print(data['country'].unique())
print(data['country'].nunique())

## Series

Pandas Series come with various attributes and methods to help you manipulate and analyze data effectively. Here are a few essential ones:

* values: Returns the Series data as a NumPy array.
* index: Returns the index (labels) of the Series.
* shape: Returns a tuple representing the dimensions of the Series.
* size: Returns the number of elements in the Series.
* mean(), sum(), min(), max(): Calculate summary statistics of the data.
* unique(), nunique(): Get unique values or the number of unique values.
* sort_values(), sort_index(): Sort the Series by values or index labels.
* isnull(), notnull(): Check for missing (NaN) or non-missing values.
* apply(): Apply a custom function to each element of the Series.

example of series

In [ ]:
data_2= range(6)
s= pd.Series(data_2)
print(s)
print(s.unique())
print(s.nunique())
print(s.notnull())
print(s.mean())

## DataFrame

* Dataframes can be created from dictionaries
* shape: Returns the dimensions (number of rows and columns) of the DataFrame.
* info(): Provides a summary of the DataFrame, including data types and non-null counts.
* describe(): Generates summary statistics for numerical columns.
* head(), tail(): Displays the first or last n rows of the DataFrame.
* mean(), sum(), min(), max(): Calculate summary statistics for columns.
* sort_values(): Sort the DataFrame by one or more columns.
* groupby(): Group data based on specific columns for aggregation.
* fillna(), drop(), rename(): Handle missing values, drop columns, or rename columns.
* apply(): Apply a function to each element, row, or column of the DataFrame.

In [ ]:
#print(data.info())
#print(data.describe())
data_3 = (data.groupby(by=["country","egg"])).count()
print(data_3)

## Exercise

In [60]:
my_dict = {'Student':['David','Samuel','Terry','Evan'],'Age':[27,24,22,32],'Country':['UK','CAN','CHI','USA'],"Marks":[85,72,88,93]}
data_4 = pd.DataFrame(my_dict)
print(data_4)

  Student  Age Country  Marks
0   David   27      UK     85
1  Samuel   24     CAN     72
2   Terry   22     CHI     88
3    Evan   32     USA     93

In [63]:
b = data_4[['Marks']]
print(b)

   Marks
0     85
1     72
2     88
3     93

In [67]:
c = data_4[['Country','Student']]
print(c)

  Country Student
a      UK   David
b     CAN  Samuel
c     CHI   Terry
d     USA    Evan

In [70]:
data_5 = pd.DataFrame(data_4)
data_5.index= ['a','b','c','d']
print(data_4)
print(data_5)

  Student  Age Country  Marks
0   David   27      UK     85
1  Samuel   24     CAN     72
2   Terry   22     CHI     88
3    Evan   32     USA     93
  Student  Age Country  Marks
a   David   27      UK     85
b  Samuel   24     CAN     72
c   Terry   22     CHI     88
d    Evan   32     USA     93